<!--<p class="text-center">Copyright &copy; 2016 Wordeffx.com</p> 
    </body>
</html> -->

        <footer>
              <div class="container-fluid">
               
                  <div>
                    <p class="p-foot ">WordEffx.Com | copyright &copy; 2015</p>
                   <!-- <ul class="foot">
                       <li class="vert-foot"><a href="#home">Home</a></li>
                       <li class="vert-foot"><a href="#about">About</a></li>
                       <li class="vert-foot"><a href="#portfolio">Portfolio</a></li>
                       <li class="vert-foot"><a href="#contact">Contact</a></li>
                    </ul> -->
                  </div>
             </div>
        </footer>
    </body>
</html>
    