<% include ./partials/header.ejs %>

<div class="wrap">

<div class="wrap">
    <header class="head">
        <h2>Reset Password Here!</h2>
    </header>
        
    <div class="column" id="register-poll">
        <div class="formbox" id="newpoll">
            <form class="login" action="/reset/<%= user.resetPasswordToken %>" method="POST">
                <input class="login" type="password" name="username" placeholder="New Password">
                <input class="login" type="password" name="password" placeholder="Confirm Password">
               <!-- <button id="login-sub" type="submit">Update Password</button> -->
                <input type="submit" class="new-btn" id="post-btn" value="Submit"></input>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>